.countries {
  margin-bottom: 95px;

  @media (max-width: $mobile-width) {
    margin-bottom: 40px;
  }
}

.countries__wrapper {
  margin: 0 auto;
  width: 1170px;

  @media (max-width: $tablet-width) {
    width: 616px;
  }

  @media (max-width: $mobile-width) {
    width: 288px;
  }
}

.countries__title {
  position: relative;
  font-size: 55px;
  line-height: 80px;
  font-weight: 600;
  margin: 0;
  margin-bottom: 64px;

  &::after {
    position: absolute;
    content: "";
    bottom: -30px;
    left: 0;
    width: 228px;
    height: 4px;
    background-color: $color-button-general;
  }

  @media (max-width: $tablet-width) {
    font-size: 30px;
    line-height: 45px;
    margin-bottom: 20px;
    text-align: center;

    &::after {
      display: none;
    }

    br {
      display: none;
    }
  }

  @media (max-width: $mobile-width) {
    font-size: 24px;
    line-height: 36px;
  }
}

.countries__description {
  margin: 0;
  color: rgba($color-text-general, 0.7);
  margin-bottom: 55px;

  @media (max-width: $tablet-width) {
    margin-bottom: 40px;
    text-align: center;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 20px;

    br {
      display: none;
    }
  }
}

.countries__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
  margin: 0;
  padding: 0;

  @media (max-width: $tablet-width) {
    justify-content: space-between;
  }
}

.countries__item {
  position: relative;
  margin-bottom: 100px;

  &::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba($color-text-secondary, 0.6);
    opacity: 0;
    z-index: 100;
  }

  &:hover::after {
    opacity: 1;
  }

  &:hover {
    .countries__aside {
      display: block;
    }
  }

  @media (max-width: $tablet-width) {
    width: 288px;
    min-height: 425px;
    margin-bottom: 40px;

    &:last-child {
      margin: 0 auto;
    }
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 35px;
  }
}

.countries__img {
  vertical-align: bottom;
}

.countries__name {
  display: block;
  position: absolute;
  font-size: 24px;
  line-height: 29px;
  font-weight: 500;
  color: $color-text-general;
  width: 215px;
  text-align: center;
  bottom: -3px;
  left: 20%;
  background-color: $color-white;
  padding: 16px;
  box-sizing: border-box;

  @media (max-width: $tablet-width) {
    left: 13%;
  }
}

.countries__aside {
  position: absolute;
  width: 266px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid rgba($color-white, 0.7);
  z-index: 1000;
  display: none;

  &:hover {
    background-color: $color-white;
  }
}

.countries__link {
  display: block;
  font-size: 14px;
  line-height: 17px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  color: $color-white;
  padding: 30px 25px;
  box-sizing: border-box;

  &:hover {
    color: $color-black;
  }
}
