.main-nav {
  min-width: 493px;
}

.main-nav__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  width: inherit;
  margin: 0;
  padding: 0;

  @media (max-width: $mobile-width) {
    display: none;
  }
}

.main-nav__link {
  color: $color-text-secondary;
  font-size: 14px;
  line-height: 17px;
  font-weight: 500;

  &--phone {
    font-size: 18px;
    line-height: 32px;
    font-weight: 400;
    text-decoration: underline;
  }

  &:hover {
    color: $color-button-general;
  }
}
