// Стили модалки об отправке формы
.modal--send {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 728px;
  height: 444px;
  margin: 0 auto;
  background-color: $color-modal-send;
}

.modal__text-send {
  font-size: 25px;
  line-height: 42px;
  text-align: center;
}

.modal__button-close {
  position: absolute;
  top: 30px;
  right: 30px;
  border: none;
  cursor: pointer;
  background-color: transparent;

  &::after {
    position: absolute;
    content: "";
    top: 0;
    left: -10px;
    width: 32px;
    height: 1px;
    background-color: rgba($color-text-secondary, 0.2);
    transform: rotate(45deg);
  }

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: -10px;
    width: 32px;
    height: 1px;
    background-color: rgba($color-text-secondary, 0.2);
    transform: rotate(-45deg);
  }

  &:hover::after,
  &:hover::before {
    background-color: rgba($color-text-secondary, 1);
  }
}

// Стили модалки о покупке тура
.modal--buy {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 728px;
  margin: 0 auto;
  background-color: $color-modal-send;
  background-image: url("../../img/background/desktop/bgc-modal-buy.jpg");
  background-repeat: no-repeat;
  background-position: left center;
  min-height: 444px;
}

.modal__form-buy {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 390px;
}

.modal__form-buy-text {
  font-size: 25px;
  line-height: 42px;
  font-weight: 600;
  color: $color-menu-item;
  margin: 0;
  margin-bottom: 50px;
}

.modal__input {
  width: 269px;
  font-size: 14px;
  line-height: 17px;
  color: $color-text-secondary;
  border: 1px solid $color-vertical-line;
  padding: 15px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.modal__input::placeholder {
  color: $color-menu-item;
}

.modal__button-buy {
  width: 176px;
  padding: 18px;
}

.modal {
  display: none;
}
