// Стили модалки об отправке формы
.modal__content--send {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 24%;
  width: 728px;
  min-height: 444px;

  @media (max-width: $mobile-width) {
    width: 288px;
    min-height: 368px;
    padding: 0 16px;
  }
}

.modal__text-send {
  font-size: 25px;
  line-height: 42px;
  text-align: center;

  @media (max-width: $mobile-width) {
    font-size: 16px;
    line-height: 32px;
  }
}

.modal__button-close {
  position: absolute;
  top: 30px;
  right: 30px;
  border: none;
  cursor: pointer;
  background-color: transparent;

  &::after {
    position: absolute;
    content: "";
    top: 0;
    left: -10px;
    width: 32px;
    height: 1px;
    background-color: rgba($color-text-secondary, 0.2);
    transform: rotate(45deg);
  }

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: -10px;
    width: 32px;
    height: 1px;
    background-color: rgba($color-text-secondary, 0.2);
    transform: rotate(-45deg);
  }

  &:hover::after,
  &:hover::before {
    background-color: rgba($color-text-secondary, 1);
  }

  &:focus::after,
  &:focus::before {
    background-color: rgba($color-text-secondary, 1);
  }

  @media (max-width: $mobile-width) {
    right: 25px;
  }
}

// Стили модалки о покупке тура
.modal__content--buy {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-image: url("../../img/background/desktop/bgc-modal-buy.jpg");
  background-repeat: no-repeat;
  background-position: left center;
  top: 24%;
  width: 728px;
  min-height: 444px;

  @media (max-width: $mobile-width) {
    width: 320px;
    min-height: 568px;
    background-image: none;
    justify-content: initial;
    align-items: initial;
    padding: 0 16px;
    padding-top: 101px;
    padding-bottom: 101px;
    box-sizing: border-box;
  }
}

.modal__form-buy {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 390px;

  @media (max-width: $mobile-width) {
    width: 100%;
  }
}

.modal__form-buy-text {
  font-size: 25px;
  line-height: 42px;
  font-weight: 600;
  color: $color-menu-item;
  margin: 0;
  margin-bottom: 35px;

  @media (max-width: $mobile-width) {
    margin-bottom: 52px;
  }
}

.modal__input {
  width: 269px;
  font-size: 14px;
  line-height: 17px;
  color: $color-text-secondary;
  border: 1px solid $color-vertical-line;
  padding: 15px;
  margin-bottom: 20px;
  box-sizing: border-box;

  @media (max-width: $mobile-width) {
    width: 100%;
  }
}

.modal__input--error {
  border: 1px solid $color-button-general;
}

.modal__input::placeholder {
  color: $color-menu-item;
  opacity: 1;
}

.modal__button-buy {
  width: 176px;
  padding: 18px;

  @media (max-width: $mobile-width) {
    width: 100%;
  }
}

// Общий класс modal
.modal__content {
  display: none;
  z-index: 100;
  position: fixed;
  background-color: $color-modal-send;
  right: 0;
  left: 0;
  margin: auto;
  box-sizing: border-box;
}

.modal__content--show {
  display: flex;
  animation: bounce 0.6s;
}

.modal__content--error {
  animation: shake 0.4s;
}

// Затемнение модалки
.modal--blackout {
  background-color: $color-modal-blackout;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 50;
  top: 0;
  left: 0;
}

// Анимации модального окна
// Появление модалки
@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

// Тряска в случае ошибки
@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-15px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(15px);
  }
}
