.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100px;
  margin: 0 auto;
  width: 1170px;
  background-color: $color-white;

  @media (max-width: $tablet-width) {
    min-height: 50px;
    width: $tablet-width;
  }

  @media (max-width: $mobile-width) {
    width: $mobile-width;
  }
}

.page-header__logo-wrapper {
  @media (max-width: $tablet-width) {
    padding: 10px 20px;
    box-sizing: border-box;
  }

  @media (max-width: $mobile-width) {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.page-header__logo {
  @media (max-width: $tablet-width) {
    display: flex;
    align-items: center;
  }
}
