.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100px;
  margin: 0 auto;
  width: 1170px;
  background-color: $color-white;
  box-sizing: border-box;

  @media (max-width: $tablet-width) {
    min-height: 50px;
    width: 100%;
    padding-left: 21px;
  }

  @media (max-width: $mobile-width) {
    padding-left: 16px;
  }

  @media (max-width: 319px) {
    width: 320px;
  }
}

.page-header__logo {
  @media (max-width: $tablet-width) {
    display: flex;
    align-items: center;
  }
}

.page-header__logo-svg {
  @media (max-width: $tablet-width) {
    width: 44px;
    height: 17px;
  }
}
