.page-footer {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding-bottom: 74px;
  width: 1159px;

  @media (max-width: $tablet-width) {
    width: 768px;
    padding: 0 21px;
    box-sizing: border-box;
    padding-bottom: 54px;
  }

  @media (max-width: $mobile-width) {
    width: 320px;
    padding: 0 14px;
    padding-bottom: 26px;
  }
}

.page-footer__item {
  width: 386px;

  @media (max-width: $tablet-width) {
    width: 363px;
  }
}

.page-footer__item--next-journeys {
  display: grid;
  grid-template-columns: repeat(3, auto);
  column-gap: 20px;

  @media (max-width: $mobile-width) {
    text-align: center;
  }

  @media (max-width: $mobile-width) {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 35px;
    border-bottom: 1px solid $color-vertical-line;
    padding-bottom: 20px;
  }
}

.page-footer__text {
  position: relative;
  grid-column: 1 / 4;
  font-size: 18px;
  line-height: 32px;
  font-weight: 600;
  margin: 0;
  margin-bottom: 25px;
  color: $color-text-secondary;
}

.page-footer__text--next-journeys::after {
  position: absolute;
  content: "";
  top: 0;
  right: 20px;
  width: 189px;
  height: 1px;
  background-color: $color-vertical-line;
  transform: rotate(90deg) translate(100px, -115px);

  @media (max-width: $tablet-width) {
    top: -14px;
  }

  @media (max-width: $mobile-width) {
    display: none;
  }
}

.page-footer__text--contacts::after {
  position: absolute;
  content: "";
  top: 0;
  right: -30px;
  width: 189px;
  height: 1px;
  background-color: $color-vertical-line;
  transform: rotate(90deg) translate(100px, -230px);

  @media (max-width: $tablet-width) {
    display: none;
  }
}

.page-footer__text--corporate {
  @media (max-width: $mobile-width) {
    margin-bottom: 20px;
  }
}

.page-footer__list {
  list-style: none;
  padding: 0;
  margin: 0;

  @media (max-width: $mobile-width) {
    min-width: 134px;
  }
}

.page-footer__list-item {
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 10px;
  color: rgba($color-text-secondary, 0.5);
}

.page-footer__item--contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 65px;
  box-sizing: border-box;

  @media (max-width: $tablet-width) {
    padding-left: 81px;
  }

  @media (max-width: $mobile-width) {
    padding-left: 0;
    align-items: center;
  }
}

.page-footer__link-email {
  position: relative;
  font-size: 14px;
  line-height: 17px;
  color: $color-button-general;
  margin-bottom: 23px;
  margin-left: 40px;

  &::before {
    position: absolute;
    content: "";
    background-image: url("../../img/icons/icon-envelope-footer.svg");
    background-repeat: no-repeat;
    width: 26px;
    height: 20px;
    top: 0;
    left: -40px;
  }
}

.page-footer__link-phone {
  position: relative;
  line-height: 32px;
  color: $color-button-general;
  text-decoration: underline;
  margin-left: 40px;

  &::before {
    position: absolute;
    content: "";
    background-image: url("../../img/icons/icon-phone-footer.svg");
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    top: 0;
    left: -40px;
  }
}

.page-footer__item--corporate {
  padding-left: 55px;
  box-sizing: border-box;

  @media (max-width: $tablet-width) {
    position: relative;
    padding-left: 0;
    margin-top: 45px;
    width: 100%;
    text-align: center;

    &::before {
      position: absolute;
      content: "";
      top: 0;
      right: 100px;
      width: 726px;
      height: 1px;
      background-color: $color-vertical-line;
      transform: rotate(180deg) translate(-100px, 27px);
    }
  }

  @media (max-width: $mobile-width) {
    margin-top: 57px;

    &::before {
      width: 288px;
    }
  }
}

.page-footer__description {
  font-size: 14px;
  line-height: 24px;
  width: 320px;
  color: rgba($color-text-secondary, 0.5);
  margin: 0;

  @media (max-width: $tablet-width) {
    width: 100%;
  }
}
