.promo {
  @media (min-width: 1920px) {
    background-image: url("../../img/background/desktop/bgc-promo-desktop.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    background-color: $color-bgc-promo;
    background-size: 100% auto;
    min-height: 852px;
    margin-bottom: 200px;
    padding-top: 185px;
    padding-right: 85px;
    box-sizing: border-box;
  }

  @media (max-width: 1919px) {
    background-image: url("../../img/background/desktop/bgc-promo-desktop.jpg");
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: $color-bgc-promo;
    margin-bottom: 100px;
    padding-top: 185px;
    padding-bottom: 120px;
  }

  @media (min-resolution: 2dppx) {
    background-image: url("../../img/background/desktop/bgc-promo-desktop@2x.jpg");
    background-size: 3840px auto;
  }

  @media (max-width: $tablet-width) {
    background-image: url("../../img/background/tablet/bgc-promo-tablet.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100% auto;
    min-height: 285px;
    margin-bottom: 80px;
    padding-top: 60px;
    padding-bottom: 0;
  }

  @media (min-resolution: 2dppx) {
    background-image: url("../../img/background/tablet/bgc-promo-tablet@2x.jpg");
    background-size: 1536px auto;
  }

  @media (max-width: $mobile-width) {
    background-image: url("../../img/background/mobile/bgc-promo-mobile.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100% auto;
    padding-top: 40px;
    min-height: 433px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  }

  @media (min-resolution: 2dppx) {
    background-image: url("../../img/background/mobile/bgc-promo-mobile@2x.jpg");
    background-size: 100% auto;
  }

  @media (max-width: 319px) {
    width: 320px;
  }
}

.promo__title {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 1170px;
  font-size: 55px;
  line-height: 80px;
  font-weight: 600;
  color: $color-white;
  margin-bottom: 30px;

  @media (max-width: $tablet-width) {
    display: block;
    font-size: 30px;
    line-height: 45px;
    width: 398px;
    margin: 0 auto;
    margin-bottom: 15px;
    text-align: center;

    br {
      display: none;
    }
  }

  @media (max-width: $mobile-width) {
    font-size: 24px;
    line-height: 36px;
    width: 288px;
    margin: auto auto;
  }
}

.promo__content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 0 auto;
  width: 1170px;
  box-sizing: border-box;

  @media (max-width: $tablet-width) {
    width: 100%;
    padding: 0;
    align-items: center;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
    min-height: 198px;
    background-color: $color-white;
    margin-top: auto;
    margin-bottom: -1px;
    padding-top: 14px;
  }
}

.promo__description {
  margin: 0;
  color: $color-white;
  margin-right: 31px;
  margin-bottom: 30px;

  @media (max-width: $tablet-width) {
    margin: 0;
    margin-bottom: 7px;
    text-align: center;
    width: 417px;

    br {
      display: none;
    }
  }

  @media (max-width: $mobile-width) {
    width: 288px;
    color: $color-text-general;
    margin-top: auto;
    margin-bottom: 17px;
  }
}

.promo__link {
  width: 340px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 40px;
  padding-right: 40px;
  margin-right: 48px;
  margin-bottom: 15px;
  background-image: url("../../img/icons/icon-arrow-down.svg");
  background-repeat: no-repeat;
  background-size: 14px 14px;
  background-position: 85% center;

  @media (max-width: $tablet-width) {
    width: 250px;
    margin: 0;
    margin-bottom: 15px;
    padding-top: 19px;
    padding-bottom: 19px;
    font-size: 10px;
    line-height: 12px;
    font-weight: 500;
    background-position: 83% center;
  }

  @media (max-width: $mobile-width) {
    width: 288px;
    margin-bottom: 0;
    background-position: 85% center;
  }
}
