.reviews {
  margin: 0 auto;
  margin-bottom: 233px;
  width: 1170px;

  @media (max-width: $tablet-width) {
    width: 768px;
    margin-bottom: 80px;
  }

  @media (max-width: $mobile-width) {
    width: 320px;
    margin-bottom: 40px;
  }
}

.reviews__list-countries {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  width: 902px;
  padding: 0;
  padding-bottom: 15px;
  border-bottom: 1px solid rgba($color-text-general, 0.3);
  margin-bottom: 65px;
  box-sizing: border-box;

  @media (max-width: $tablet-width) {
    justify-content: flex-start;
    padding-left: 21px;
    margin-bottom: 30px;
    width: 100%;
  }

  @media (max-width: $mobile-width) {
    position: relative;
    padding: 0 16px;
    border-bottom: 0;
    margin-bottom: 39px;
    width: 100%;

    &::after {
      position: absolute;
      content: "";
      left: 16px;
      bottom: -15px;
      width: 288px;
      height: 1px;
      background-color: rgba($color-text-general, 0.3);
    }
  }
}

.reviews__item-countries {
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  color: rgba($color-text-general, 0.3);

  &:not(:nth-child(5n)) {
    margin-right: 95px;
  }

  &--current {
    color: $color-button-general;
  }

  @media (max-width: $tablet-width) {
    font-size: 17px;
    line-height: 21px;

    &:not(:nth-child(5n)) {
      margin-right: 70px;
    }
  }
}

.reviews__item-countries--hidden {
  @media (max-width: $mobile-width) {
    display: none;
  }
}

.reviews__list {
  list-style: none;
  margin: 0 auto;
  padding: 0;

  @media (max-width: $tablet-width) {
    width: 100%;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
  }
}

.reviews__list-item {
  display: none;
}

.reviews__list-item--current {
  display: grid;
  grid-template-columns: 370px auto;
  column-gap: 100px;
  position: relative;

  @media (max-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 32px;
  }
}

.reviews__title {
  position: relative;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  font-size: 55px;
  line-height: 90px;
  font-weight: 600;
  margin: 0;
  margin-bottom: 53px;

  &::after {
    position: absolute;
    content: "";
    bottom: -30px;
    left: 0;
    width: 175px;
    height: 3px;
    background-color: $color-button-general;
  }

  @media (max-width: $tablet-width) {
    font-size: 30px;
    line-height: 45px;
    margin-bottom: 20px;
    padding-left: 21px;
    padding-right: 21px;

    &::after {
      display: none;
    }
  }
}

.reviews__description {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  color: rgba($color-text-general, 0.7);
  margin: 0;
  margin-bottom: 50px;

  @media (max-width: $tablet-width) {
    margin-bottom: 20px;
    padding-left: 21px;
    padding-right: 21px;
    text-align: center;
  }

  @media (max-width: $mobile-width) {
    padding: 0 16px;
  }
}

.reviews__button {
  grid-column: 1 / 2;
  width: 250px;
  padding: 30px;
  margin-top: auto;
  margin-bottom: 20px;

  @media (max-width: $tablet-width) {
    margin-bottom: 30px;
    padding: 18px;
  }

  @media (max-width: $mobile-width) {
    width: 288px;
    margin-bottom: 50px;
  }
}

.reviews__img {
  grid-column: 2 / 3;
  grid-row: 1 / 4;

  @media (max-width: $tablet-width) {
    width: 100%;
  }
}

.reviews__blockquote {
  position: absolute;
  top: 120px;
  right: 0;
  width: 382px;
  margin: 0;
  padding: 30px;
  padding-right: 18px;
  background-color: $color-white;
  box-sizing: border-box;

  @media (max-width: $tablet-width) {
    top: initial;
    right: initial;
    bottom: 8px;
  }

  @media (max-width: $mobile-width) {
    width: 268px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 34px;
    bottom: -24px;
    text-align: center;
  }
}

.reviews__blockquote-title {
  position: relative;
  font-size: 30px;
  line-height: 36px;
  font-weight: 500;
  margin: 0;
  margin-bottom: 32px;

  &::after {
    position: absolute;
    content: "";
    bottom: -10px;
    left: 0;
    width: 68px;
    height: 1px;
    background-color: $color-button-general;
  }

  @media (max-width: $mobile-width) {
    font-size: 20px;
    line-height: 24px;

    &::after {
      left: 35%;
    }
  }
}

.reviews__blockquote-text {
  margin: 0;
  font-size: 14px;
  margin-bottom: 35px;
  color: rgba($color-text-general, 0.7);

  @media (max-width: $mobile-width) {
    margin-bottom: 20px;
  }
}

.reviews__author {
  display: flex;
  align-items: center;

  @media (max-width: $mobile-width) {
    flex-direction: column;
  }
}

.reviews__photo-author {
  margin-right: 15px;

  @media (max-width: $mobile-width) {
    margin-bottom: 10px;
  }
}

.reviews__blockquote-author {
  line-height: 19px;
  font-weight: 500;
  font-style: normal;
}
