// Переменные цветов
$color-black: #000000;
$color-white: #ffffff;
$color-button-general: #fe7865;
$color-button-hover: #f17d4b;
$color-text-general: #2c2e3f;
$color-text-secondary: #141517;
$color-menu-item: #48494d;
$color-vertical-line: #d7d9df;
$color-modal-send: #f8f8f8;
$color-shadow-form: rgba(41, 54, 66, 0.1);
$color-bgc-promo: rgb(163, 203, 230);
$color-bgc-feedback: #f9a195;
$color-modal-blackout: rgba(0, 0, 0, 0.9);

// Переменные viewports
$tablet-width: 1169px;
$mobile-width: 767px;
